<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link  href="js/cropperjs/dist/cropper.css" rel="stylesheet">
<script src="js/cropperjs/dist/cropper.js"></script>
    <style>
        img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}
        </style>
</head>
<body>
<div >
  <img id="image" src="images/1.jpg">
    <script>
        var image = document.getElementById('image');
var cropper = new Cropper(image, {
  aspectRatio: 1 / 1,
  crop: function(e) {
    console.log(e.detail.x);
    console.log(e.detail.y);
    console.log(e.detail.width);
    console.log(e.detail.height);
    console.log(e.detail.rotate);
    console.log(e.detail.scaleX);
    console.log(e.detail.scaleY);
  }
});
    </script>
</div>
</body>
</html>