<div class="container">
 <footer id="footer">
 	<div id="footer-3d">
		<div class="gp-container">
			<span class="first-widget-bend"> </span>
		</div>
	</div>
    <div id="footer-widgets" class="gp-footer-larger-first-col">
		<div class="gp-container">
            <div class="footer-widget footer-1">
            	<div class="wpb_wrapper">
                    <p style="font-size: x-large">Rate My St☆rs</p>
				</div>
	          <br>
                <p>Lei Liu</p>
                <p>School of Computer Science
                <P>University of Windosr</p>
                <p>401 Sunset Avenue Windsor, Ontario</p>
                <p>liu1115c@uwindsor.ca</p>

			 </div>
			 <div class="footer_box">
			  <div class="col_1_of_3 span_1_of_3">
					<h3>Categories</h3>
					<ul class="first">
						<li><a href="category-musicians">Musician</a></li>
						<li><a href="category-actors">Actor</a></li>
						<li><a href="category-athletes">Athlete</a></li>
                        <li><a href="category-models">Model</a></li>
                        <li><a href="category-hosts">Host</a></li>
                        <li><a href="category-authors">Author</a></li>
					</ul>
		     </div>
		     <div class="col_1_of_3 span_1_of_3">
					<h3>Information</h3>
					<ul class="first">
						<li><a href="login.html">Login</a></li>
						<li><a href="register.html">Sign up</a></li>
						<li><a href="upload.html">Upload Reviews</a></li>
					</ul>
		     </div>
		     <div class="col_1_of_3 span_1_of_3">
					<h3>Follow Us</h3>
					<ul class="first">
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Youtube</a></li>
					</ul>
					<!--div class="copy">
				      <p>Copyright &copy; 2017.Company Name All rights reserved.</p>
			        </div-->
		     </div>
		    <div class="clearfix"> </div>
	        </div>
	        <div class="clearfix"> </div>
		</div>
	</div>
  </footer>
</div>