<!DOCTYPE HTML>

<html>
<head>
<title>Forgot Password</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- start plugins -->
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <link href='css/fonts.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
	<div class="container_wrap">
		 {% include 'head.html' %}
	      <div class="content">
              <div class="register" align="center">
                  <form align="center">
                      <div class="register-top-grid">
                          <h3>Password Assistance</h3>
                          <span>Enter your email address to retrieve your password:</span>
                          <br>
                              <input type="email" placeholder="name@example.com" required="" name="email" style="width: 50%; text-align: center">
                      </div>
                      <div class="clearfix"></div>
                      <div class="clearfix"></div>
                      <br>
                      <div class="register-but" align="center">

                          <input type="submit" value="submit">
                          <div class="clearfix"></div>
                      </div>
                  </form>
              </div>
          </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>