<!DOCTYPE html>
<html class="win firefox firefox54 gecko gecko54" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Puzzles</title>
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="a.html">
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/",
            "svgExt": ".svg",
            "source": {"concatemoji": "http:\/\/puzzles.themerex.net\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.5"}
        };
        !function (a, b, c) {
            function d(a) {
                var b, c, d, e, f = String.fromCharCode;
                if (!k || !k.fillText) return !1;
                switch (k.clearRect(0, 0, j.width, j.height), k.textBaseline = "top", k.font = "600 32px Arial", a) {
                    case"flag":
                        return k.fillText(f(55356, 56826, 55356, 56819), 0, 0), !(j.toDataURL().length < 3e3) && (k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 65039, 8205, 55356, 57096), 0, 0), b = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 55356, 57096), 0, 0), c = j.toDataURL(), b !== c);
                    case"emoji4":
                        return k.fillText(f(55357, 56425, 55356, 57341, 8205, 55357, 56507), 0, 0), d = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55357, 56425, 55356, 57341, 55357, 56507), 0, 0), e = j.toDataURL(), d !== e
                }
                return !1
            }

            function e(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }

            var f, g, h, i, j = b.createElement("canvas"), k = j.getContext && j.getContext("2d");
            for (i = Array("flag", "emoji4"), c.supports = {
                everything: !0,
                everythingExceptFlag: !0
            }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () {
                c.DOMReady = !0
            }, c.supports.everything || (g = function () {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () {
                "complete" === b.readyState && c.readyCallback()
            })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <script src="a_data/wp-emoji-release.js" type="text/javascript" defer="defer"></script>
    <link rel="stylesheet" id="fontello-css" href="a_data/fontello.css" type="text/css" media="all">
    <link rel="stylesheet" id="main-style-css" href="a_data/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="theme-regular-css" href="a_data/regular.css" type="text/css" media="all">
    <link rel="stylesheet" id="theme-font-css" href="a_data/css.css" type="text/css" media="all">
    <link rel="stylesheet" id="shortcodes-css" href="a_data/shortcodes.css" type="text/css" media="all">
    <!--style id="shortcodes-inline-css" type="text/css">
	        body, button, input, select, textarea {
				font-family: 'Oxygen', sans-serif;
			}
			.logo_text .logo_title {
				font-family: 'Cabin', sans-serif;
			}
		#header_middle_inner #mainmenu li.menu-item-59.current-menu-item > a,
									#header_middle_inner #mainmenu li.menu-item-59 > a:hover,
									#header_middle_inner #mainmenu li.menu-item-59.sfHover > a {
										background-color: #00c6ff !important;
									}
									#header_middle_inner #mainmenu li.menu-item-59 ul {
										background-color: #00c6ff !important;
									}

									#header_middle_inner #mainmenu li.menu-item-59.blob_over:not(.current-menu-item) > a:hover,
									#header_middle_inner #mainmenu li.menu-item-59.blob_over.sfHover > a {
										background-color: transparent !important;
									}
									#header_middle_inner #mainmenu li.menu-item-221.current-menu-item > a,
									#header_middle_inner #mainmenu li.menu-item-221 > a:hover,
									#header_middle_inner #mainmenu li.menu-item-221.sfHover > a {
										background-color: #AA8800 !important;
									}
									#header_middle_inner #mainmenu li.menu-item-221 ul {
										background-color: #AA8800 !important;
									}

									#header_middle_inner #mainmenu li.menu-item-221.blob_over:not(.current-menu-item) > a:hover,
									#header_middle_inner #mainmenu li.menu-item-221.blob_over.sfHover > a {
										background-color: transparent !important;
									}

									#header_middle_inner #mainmenu li.menu-item-556 > a:hover,
									#header_middle_inner #mainmenu li.menu-item-556.sfHover > a {
										background-color: #00a0db !important;
									}
									#header_middle_inner #mainmenu li.menu-item-556 ul {
										background-color: #00a0db !important;
									}

									#header_middle_inner #mainmenu li.menu-item-448 > a:hover,
									#header_middle_inner #mainmenu li.menu-item-448.sfHover > a {
										background-color: #00a0db !important;
									}
									#header_middle_inner #mainmenu li.menu-item-448 ul {
										background-color: #00a0db !important;
									}

									#header_middle_inner #mainmenu li.menu-item-600 > a:hover,
									#header_middle_inner #mainmenu li.menu-item-600.sfHover > a {
										background-color: #f03232 !important;
									}
									#header_middle_inner #mainmenu li.menu-item-600 ul {
										background-color: #f03232 !important;
									}

									#header_middle_inner #mainmenu li.menu-item-449 > a:hover,
									#header_middle_inner #mainmenu li.menu-item-449.sfHover > a {
										background-color: #e99f00 !important;
									}
									#header_middle_inner #mainmenu li.menu-item-449 ul {
										background-color: #e99f00 !important;
									}

									#header_middle_inner #mainmenu li.menu-item-770.blob_over:not(.current-menu-item) > a:hover,
									#header_middle_inner #mainmenu li.menu-item-770.blob_over.sfHover > a {
										background-color: transparent !important;
									}
									#header_middle_inner #mainmenu li.menu-item-220.current-menu-item > a,
									#header_middle_inner #mainmenu li.menu-item-220 > a:hover,
									#header_middle_inner #mainmenu li.menu-item-220.sfHover > a {
										background-color: #00a0db !important;
									}
									#header_middle_inner #mainmenu li.menu-item-220 ul {
										background-color: #00a0db !important;
									}

									#header_middle_inner #mainmenu li.menu-item-220.blob_over:not(.current-menu-item) > a:hover,
									#header_middle_inner #mainmenu li.menu-item-220.blob_over.sfHover > a {
										background-color: transparent !important;
									}

									#header_middle_inner #mainmenu li.menu-item-557 > a:hover,
									#header_middle_inner #mainmenu li.menu-item-557.sfHover > a {
										background-color: #00a0db !important;
									}
									#header_middle_inner #mainmenu li.menu-item-557 ul {
										background-color: #00a0db !important;
									}

									#header_middle_inner #mainmenu li.menu-item-453 > a:hover,
									#header_middle_inner #mainmenu li.menu-item-453.sfHover > a {
										background-color: #f03232 !important;
									}
									#header_middle_inner #mainmenu li.menu-item-453 ul {
										background-color: #f03232 !important;
									}
								#header_middle_inner #mainmenu li.menu-item-61.current-menu-item > a,
									#header_middle_inner #mainmenu li.menu-item-61 > a:hover,
									#header_middle_inner #mainmenu li.menu-item-61.sfHover > a {
										background-color: #00a0db !important;
									}
									#header_middle_inner #mainmenu li.menu-item-61 ul {
										background-color: #00a0db !important;
									}

									#header_middle_inner #mainmenu li.menu-item-61.blob_over:not(.current-menu-item) > a:hover,
									#header_middle_inner #mainmenu li.menu-item-61.blob_over.sfHover > a {
										background-color: transparent !important;
									}
									#header_middle_inner #mainmenu li.menu-item-418.current-menu-item > a,
									#header_middle_inner #mainmenu li.menu-item-418 > a:hover,
									#header_middle_inner #mainmenu li.menu-item-418.sfHover > a {
										background-color: #e99f00 !important;
									}
									#header_middle_inner #mainmenu li.menu-item-418 ul {
										background-color: #e99f00 !important;
									}

									#header_middle_inner #mainmenu li.menu-item-418.blob_over:not(.current-menu-item) > a:hover,
									#header_middle_inner #mainmenu li.menu-item-418.blob_over.sfHover > a {
										background-color: transparent !important;
									}
									#header_middle_inner #mainmenu li.menu-item-62.current-menu-item > a,
									#header_middle_inner #mainmenu li.menu-item-62 > a:hover,
									#header_middle_inner #mainmenu li.menu-item-62.sfHover > a {
										background-color: #f03232 !important;
									}
									#header_middle_inner #mainmenu li.menu-item-62 ul {
										background-color: #f03232 !important;
									}

									#header_middle_inner #mainmenu li.menu-item-62.blob_over:not(.current-menu-item) > a:hover,
									#header_middle_inner #mainmenu li.menu-item-62.blob_over.sfHover > a {
										background-color: transparent !important;
									}
									#header_middle_inner #mainmenu li.menu-item-467.current-menu-item > a,
									#header_middle_inner #mainmenu li.menu-item-467 > a:hover,
									#header_middle_inner #mainmenu li.menu-item-467.sfHover > a {
										background-color: #2ecc71 !important;
									}
									#header_middle_inner #mainmenu li.menu-item-467 ul {
										background-color: #2ecc71 !important;
									}

									#header_middle_inner #mainmenu li.menu-item-467.blob_over:not(.current-menu-item) > a:hover,
									#header_middle_inner #mainmenu li.menu-item-467.blob_over.sfHover > a {
										background-color: transparent !important;
									}
									#header_middle_inner #mainmenu li.menu-item-459.current-menu-item > a,
									#header_middle_inner #mainmenu li.menu-item-459 > a:hover,
									#header_middle_inner #mainmenu li.menu-item-459.sfHover > a {
										background-color: #222222 !important;
									}
									#header_middle_inner #mainmenu li.menu-item-459 ul {
										background-color: #222222 !important;
									}

									#header_middle_inner #mainmenu li.menu-item-459.blob_over:not(.current-menu-item) > a:hover,
									#header_middle_inner #mainmenu li.menu-item-459.blob_over.sfHover > a {
										background-color: transparent !important;
									}

									#header_middle_inner #mainmenu li.menu-item-925.blob_over:not(.current-menu-item) > a:hover,
									#header_middle_inner #mainmenu li.menu-item-925.blob_over.sfHover > a {
										background-color: transparent !important;
									}



			#mainmenu > li ul {
				width: 250px;
			}
			#mainmenu > li ul li ul {
				left: 251px;
			}
			#mainmenu > li:nth-child(n+6) ul li ul {
				left: -251px;
			}


</style-->
    <link rel="stylesheet" id="responsive-css" href="a_data/responsive.css" type="text/css" media="all">

    <script type="text/javascript" src="a_data/jquery_002.js"></script>
    <script type="text/javascript" src="a_data/jquery-migrate.js"></script>
    <script type="text/javascript" src="a_data/confirm.js"></script>
    <script type="text/javascript" src="a_data/widget-members.js"></script>
    <script type="text/javascript" src="a_data/jquery-query.js"></script>
    <script type="text/javascript" src="a_data/jquery-cookie.js"></script>
    <script type="text/javascript" src="a_data/jquery-scroll-to.js"></script>

    <script type="text/javascript" src="a_data/buddypress.js"></script>
    <link rel="canonical" href="a.html">
    <link rel="shortlink" href="a.html">
    <link rel="alternate" type="application/json+oembed"
          href="http://puzzles.themerex.net/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fpuzzles.themerex.net%2F">
    <link rel="alternate" type="text/xml+oembed"
          href="http://puzzles.themerex.net/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fpuzzles.themerex.net%2F&amp;format=xml">
    <script type="text/javascript">var ajaxurl = 'http://puzzles.themerex.net/wp-admin/admin-ajax.php';</script>
    <style type="text/css">.recentcomments a {
        display: inline;
        padding: 0;
        margin: 0;
    }</style>
</head>

<body>
<div style="font-family: 'Oxygen', sans-serif;">
    <style>a {
        text-decoration: none;
    }
    </style>
    <div class="home-page home page-template-default page page-id-2 theme_regular puzzles_heavy reviews_5 puzzles_animations wide js" alt="{% for a in content %}
                 {{ a.category }}
                 {{ a.title }}
                 {% endfor %}">
        <!--[if lt IE 9]>
	<div class="sc_infobox sc_infobox_style_error"><div style="text-align:center;">It looks like you're using an old version of Internet Explorer. For the best WordPress experience, please <a href="http://microsoft.com" style="color:#191919">update your browser</a> or learn how to <a href="http://browsehappy.com" style="color:#222222">browse happy</a>!</div></div>
<![endif]-->
        <div class="post_content without_paddings">
            <div itemprop="" class="post_text_area">
                <div class="sc_section sc_puzzles" style="margin-bottom:-1px;margin-right:-1px;overflow:hidden;">
                    <div class="sc_blogger_item sc_blogger_item_puzzles odd first">
                        <div class="post_thumb image_wrapper post_format_gallery left-1 heavy_inited "><a
                                href="detail-{{ content.0.title }}"><img class="wp-post-image" alt="Ripd"
                                                                                  src="{{ content.0.thumbnail.url }}"
                                                                                  height="310" width="310"></a><span
                                class="post_category theme_accent_bg"
                                style="background-color: #00a0db">{{ content.0.category }}</span>
                            <div class="post_content_wrapper theme_puzzles" style="background-color:#0080af;"><h2
                                    class="post_subtitle"><a href="detail-{{ content.0.title }}">{{ content.0.title }}</a>
                            </h2>
                                <div class="reviews_summary blog_reviews theme_puzzles"
                                     style="background-color:#0080af;">
                                    <div class="criteria_summary criteria_row"><span class="criteria_stars"
                                                                                     title="2.6 from 5">
					<span class="stars_off"><span class="theme_stars"></span><span class="theme_stars"></span><span
                            class="theme_stars"></span><span class="theme_stars"></span><span
                            class="theme_stars"></span></span>
					<span id='0' class="stars_on" style="width:52%;"><span class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span></span>
                 <script>
                var a = {{ content.0.AVG }};
                var b = a / 5 * 100;
                document.getElementById('0').style.width = b + '%';
            </script>
				</span></div>
                                </div>
                                <div class="post_descr"><p>{{ content.0.content }}</p>
                                </div>
                                <div class="post_content_padding theme_puzzles" style="
						background: -moz-linear-gradient(top,  rgba(0,128,175,0) 0%, rgba(0,128,175,0.01) 1%, rgba(0,128,175,1) 50%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,128,175,0)), color-stop(1%,rgba(0,128,175,0.01)), color-stop(50%,rgba(0,128,175,1)));
						background: -webkit-linear-gradient(top,  rgba(0,128,175,0) 0%,rgba(0,128,175,0.01) 1%,rgba(0,128,175,1) 50%);
						background: -o-linear-gradient(top,  rgba(0,128,175,0) 0%,rgba(0,128,175,0.01) 1%,rgba(0,128,175,1) 50%);
						background: -ms-linear-gradient(top,  rgba(0,128,175,0) 0%,rgba(0,128,175,0.01) 1%,rgba(0,128,175,1) 50%);
						background: linear-gradient(to bottom,  rgba(0,128,175,0) 0%,rgba(0,128,175,0.01) 1%,rgba(0,128,175,1) 50%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000080af', endColorstr='#0080af',GradientType=0 );
						"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sc_blogger_item sc_blogger_item_puzzles even">
                        <div class="post_thumb image_wrapper post_format_gallery down-1 heavy_inited"><a
                                href="detail-{{ content.1.title }}"><img
                                class="wp-post-image" alt="hit.jpg" src="{{ content.1.thumbnail.url }}" height="310"
                                width="310"></a><!-->

                            </a><--><span class="post_category theme_accent_bg"
                                          style="background-color: #00a0db">{{ content.1.category }}</span>
                            <div class="post_content_wrapper theme_puzzles" style="background-color:#111111;"><h2
                                    class="post_subtitle"><a href="detail-{{ content.1.title }}">{{ content.1.title }}</a></h2>
                                <div class="reviews_summary blog_reviews theme_puzzles"
                                     style="background-color:#111111;">
                                    <div class="criteria_summary criteria_row"><span class="criteria_stars"
                                                                                     title="4.6 from 5">
					<span class="stars_off"><span class="theme_stars"></span><span class="theme_stars"></span><span
                            class="theme_stars"></span><span class="theme_stars"></span><span
                            class="theme_stars"></span></span>
					<span id='1' class="stars_on" style="width:92%;"><span class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span></span>
                                          <script>
                var a = {{ content.1.AVG }};
                var b = a / 5 * 100;
                document.getElementById('1').style.width = b + '%';
            </script>
				</span></div>
                                </div>
                                <div class="post_descr"><p>After the crew of the Enterprise find an unstoppable
                                    force of terror from within their own organization..</p>
                                </div>
                                <div class="post_content_padding theme_puzzles" style="
						background: -moz-linear-gradient(top,  rgba(17,17,17,0) 0%, rgba(17,17,17,0.01) 1%, rgba(17,17,17,1) 50%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,17,17,0)), color-stop(1%,rgba(17,17,17,0.01)), color-stop(50%,rgba(17,17,17,1)));
						background: -webkit-linear-gradient(top,  rgba(17,17,17,0) 0%,rgba(17,17,17,0.01) 1%,rgba(17,17,17,1) 50%);
						background: -o-linear-gradient(top,  rgba(17,17,17,0) 0%,rgba(17,17,17,0.01) 1%,rgba(17,17,17,1) 50%);
						background: -ms-linear-gradient(top,  rgba(17,17,17,0) 0%,rgba(17,17,17,0.01) 1%,rgba(17,17,17,1) 50%);
						background: linear-gradient(to bottom,  rgba(17,17,17,0) 0%,rgba(17,17,17,0.01) 1%,rgba(17,17,17,1) 50%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00111111', endColorstr='#111111',GradientType=0 );
						"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sc_blogger_item sc_blogger_item_puzzles odd">
                        <div class="post_thumb image_wrapper post_format_gallery right-2 heavy_inited"><a
                                href="detail-{{ content.2.title }}"><img class="wp-post-image"
                                                                                    alt="Iron Man"
                                                                                    src="{{ content.2.thumbnail.url }}"
                                                                                    height="310"
                                                                                    width="310"></a><span
                                class="post_category theme_accent_bg"
                                style="background-color: #00a0db">{{ content.2.category }}</span>
                            <div class="post_content_wrapper theme_puzzles" style="background-color:#9a0000;"><h2
                                    class="post_subtitle"><a href="detail-{{ content.2.title }}">{{ content.2.title }}</a></h2>
                                <div class="reviews_summary blog_reviews theme_puzzles"
                                     style="background-color:#9a0000;">
                                    <div class="criteria_summary criteria_row"><span class="criteria_stars"
                                                                                     title="3.5 from 5">
					<span class="stars_off"><span class="theme_stars"></span><span class="theme_stars"></span><span
                            class="theme_stars"></span><span class="theme_stars"></span><span
                            class="theme_stars"></span></span>
					<span id='2' class="stars_on" style="width:70%;"><span class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span></span>
                                          <script>
                var a = {{ content.2.AVG }};
                var b = a / 5 * 100;
                document.getElementById('2').style.width = b + '%';
            </script>
				</span></div>
                                </div>
                                <div class="post_descr"><p>When Tony Stark’s
                                    world is torn apart by a formidable terrorist called the Mandarin, he
                                    starts an odyssey of rebuilding and retribution</p>
                                </div>
                                <div class="post_content_padding theme_puzzles" style="
						background: -moz-linear-gradient(top,  rgba(154,0,0,0) 0%, rgba(154,0,0,0.01) 1%, rgba(154,0,0,1) 50%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(154,0,0,0)), color-stop(1%,rgba(154,0,0,0.01)), color-stop(50%,rgba(154,0,0,1)));
						background: -webkit-linear-gradient(top,  rgba(154,0,0,0) 0%,rgba(154,0,0,0.01) 1%,rgba(154,0,0,1) 50%);
						background: -o-linear-gradient(top,  rgba(154,0,0,0) 0%,rgba(154,0,0,0.01) 1%,rgba(154,0,0,1) 50%);
						background: -ms-linear-gradient(top,  rgba(154,0,0,0) 0%,rgba(154,0,0,0.01) 1%,rgba(154,0,0,1) 50%);
						background: linear-gradient(to bottom,  rgba(154,0,0,0) 0%,rgba(154,0,0,0.01) 1%,rgba(154,0,0,1) 50%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009a0000', endColorstr='#9a0000',GradientType=0 );
						"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sc_blogger_item sc_blogger_item_puzzles odd first">
                        <div class="post_thumb image_wrapper post_format_ down-1 heavy_inited "><a
                                href="detail-{{ content.3.title }}"><img class="wp-post-image" alt="Grid"
                                                                                src="{{ content.3.thumbnail.url }}"
                                                                                height="310" width="310"></a><span
                                class="post_category theme_accent_bg" style="background-color: #e99f00">{{ content.3.category }}</span>
                            <div class="post_content_wrapper theme_puzzles" style="background-color:#222222;"><h2
                                    class="post_subtitle"><a href="detail-{{ content.3.title }}">{{ content.3.title }}</a>
                            </h2>
                                <div class="reviews_summary blog_reviews theme_puzzles"
                                     style="background-color:#222222;">
                                    <div class="criteria_summary criteria_row"><span class="criteria_stars"
                                                                                     title="3.7 from 5">
					<span class="stars_off"><span class="theme_stars"></span><span class="theme_stars"></span><span
                            class="theme_stars"></span><span class="theme_stars"></span><span
                            class="theme_stars"></span></span>
					<span id='3'class="stars_on" style="width:74%;"><span class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span></span>
                                          <script>
                var a = {{ content.3.AVG }};
                var b = a / 5 * 100;
                document.getElementById('3').style.width = b + '%';
            </script>
				</span></div>
                                </div>
                                <div class="post_descr"><p>Aliquam varius magna
                                    nec nunc dignissim suscipit. Phasellus faucibus aliquam euismod. Aliquam
                                    rutrum eget justo eget scelerisque. Nam blandit augue libero, at
                                    condimentum odio vestibulum in…</p>
                                </div>
                                <div class="post_content_padding theme_puzzles" style="
						background: -moz-linear-gradient(top,  rgba(34,34,34,0) 0%, rgba(34,34,34,0.01) 1%, rgba(34,34,34,1) 50%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,34,34,0)), color-stop(1%,rgba(34,34,34,0.01)), color-stop(50%,rgba(34,34,34,1)));
						background: -webkit-linear-gradient(top,  rgba(34,34,34,0) 0%,rgba(34,34,34,0.01) 1%,rgba(34,34,34,1) 50%);
						background: -o-linear-gradient(top,  rgba(34,34,34,0) 0%,rgba(34,34,34,0.01) 1%,rgba(34,34,34,1) 50%);
						background: -ms-linear-gradient(top,  rgba(34,34,34,0) 0%,rgba(34,34,34,0.01) 1%,rgba(34,34,34,1) 50%);
						background: linear-gradient(to bottom,  rgba(34,34,34,0) 0%,rgba(34,34,34,0.01) 1%,rgba(34,34,34,1) 50%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00222222', endColorstr='#222222',GradientType=0 );
						"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sc_blogger_item sc_blogger_item_puzzles even">
                        <div class="post_thumb image_wrapper post_format_ left-2 heavy_inited"><a
                                href="detail-{{ content.4.title }}"><img class="wp-post-image"
                                                                                     alt="Hitman"
                                                                                     src="{{ content.4.thumbnail.url }}"
                                                                                     height="310"
                                                                                     width="310"></a><span
                                class="post_category theme_accent_bg" style="background-color: #e99f00">{{ content.4.category }}</span>
                            <div class="post_content_wrapper theme_puzzles" style="background-color:#c95a00;"><h2
                                    class="post_subtitle"><a href="detail-{{ content.4.title }}">{{ content.4.title }}</a></h2>
                                <div class="reviews_summary blog_reviews theme_puzzles"
                                     style="background-color:#c95a00;">
                                    <div class="criteria_summary criteria_row"><span class="criteria_stars"
                                                                                     title="4.7 from 5">
					<span class="stars_off"><span class="theme_stars"></span><span class="theme_stars"></span><span
                            class="theme_stars"></span><span class="theme_stars"></span><span
                            class="theme_stars"></span></span>
					<span id='4'class="stars_on" style="width:94%;"><span class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span></span>
                                          <script>
                var a = {{ content.4.AVG }};
                var b = a / 5 * 100;
                document.getElementById('4').style.width = b + '%';
            </script>
				</span></div>
                                </div>
                                <div class="post_descr"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Nullam vel enim enim</p>
                                </div>
                                <div class="post_content_padding theme_puzzles" style="
						background: -moz-linear-gradient(top,  rgba(201,90,0,0) 0%, rgba(201,90,0,0.01) 1%, rgba(201,90,0,1) 50%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,90,0,0)), color-stop(1%,rgba(201,90,0,0.01)), color-stop(50%,rgba(201,90,0,1)));
						background: -webkit-linear-gradient(top,  rgba(201,90,0,0) 0%,rgba(201,90,0,0.01) 1%,rgba(201,90,0,1) 50%);
						background: -o-linear-gradient(top,  rgba(201,90,0,0) 0%,rgba(201,90,0,0.01) 1%,rgba(201,90,0,1) 50%);
						background: -ms-linear-gradient(top,  rgba(201,90,0,0) 0%,rgba(201,90,0,0.01) 1%,rgba(201,90,0,1) 50%);
						background: linear-gradient(to bottom,  rgba(201,90,0,0) 0%,rgba(201,90,0,0.01) 1%,rgba(201,90,0,1) 50%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c95a00', endColorstr='#c95a00',GradientType=0 );
						"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sc_blogger_item sc_blogger_item_puzzles odd">
                        <div class="post_thumb image_wrapper post_format_ down-2 heavy_inited"><a
                                href="detail-{{ content.5.title }}"><img class="wp-post-image" alt="GTA V"
                                                                                   src="{{ content.5.thumbnail.url }}"
                                                                                   height="310"
                                                                                   width="310"></a><span
                                class="post_category theme_accent_bg" style="background-color: #e99f00">{{ content.5.category }}</span>
                            <div class="post_content_wrapper theme_puzzles" style="background-color:#111111;"><h2
                                    class="post_subtitle"><a href="detail-{{ content.5.title }}">{{ content.5.title }}</a>
                            </h2>
                                <div class="reviews_summary blog_reviews theme_puzzles"
                                     style="background-color:#111111;">
                                    <div class="criteria_summary criteria_row"><span class="criteria_stars"
                                                                                     title="4.7 from 5">
					<span class="stars_off"><span class="theme_stars"></span><span class="theme_stars"></span><span
                            class="theme_stars"></span><span class="theme_stars"></span><span
                            class="theme_stars"></span></span>
					<span id='5'class="stars_on" style="width:94%;"><span class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span></span>
                                          <script>
                var a = {{ content.5.AVG }};
                var b = a / 5 * 100;
                document.getElementById('5').style.width = b + '%';
            </script>
				</span></div>
                                </div>
                                <div class="post_descr"><p>Sed
                                    id quam eu arcu dapibus pharetra ut vel purus. Aliquam porttitor quam
                                    vel lacus volutpat rhoncus. Curabitur imperdiet tellus quis sapien
                                    egestas convallis. Cum sociis natoque penatibus et…</p>
                                </div>
                                <div class="post_content_padding theme_puzzles" style="
						background: -moz-linear-gradient(top,  rgba(17,17,17,0) 0%, rgba(17,17,17,0.01) 1%, rgba(17,17,17,1) 50%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,17,17,0)), color-stop(1%,rgba(17,17,17,0.01)), color-stop(50%,rgba(17,17,17,1)));
						background: -webkit-linear-gradient(top,  rgba(17,17,17,0) 0%,rgba(17,17,17,0.01) 1%,rgba(17,17,17,1) 50%);
						background: -o-linear-gradient(top,  rgba(17,17,17,0) 0%,rgba(17,17,17,0.01) 1%,rgba(17,17,17,1) 50%);
						background: -ms-linear-gradient(top,  rgba(17,17,17,0) 0%,rgba(17,17,17,0.01) 1%,rgba(17,17,17,1) 50%);
						background: linear-gradient(to bottom,  rgba(17,17,17,0) 0%,rgba(17,17,17,0.01) 1%,rgba(17,17,17,1) 50%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00111111', endColorstr='#111111',GradientType=0 );
						"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sc_blogger_item sc_blogger_item_puzzles odd first">
                        <div class="post_thumb image_wrapper post_format_ right-1 heavy_inited"><a
                                href="detail-{{ content.6.title }}"><img class="wp-post-image"
                                                                                  alt="XBox One"
                                                                                  src="{{ content.6.thumbnail.url }}"
                                                                                  height="310" width="310"></a><span
                                class="post_category theme_accent_bg" style="background-color: #96d400">{{ content.6.category }}</span>
                            <div class="post_content_wrapper theme_puzzles" style="background-color:#222222;"><h2
                                    class="post_subtitle"><a href="detail-{{ content.6.title }}">{{ content.6.title }}</a></h2>
                                <div class="reviews_summary blog_reviews theme_puzzles"
                                     style="background-color:#222222;">
                                    <div class="criteria_summary criteria_row"><span class="criteria_stars"
                                                                                     title="4.7 from 5">
					<span class="stars_off"><span class="theme_stars"></span><span class="theme_stars"></span><span
                            class="theme_stars"></span><span class="theme_stars"></span><span
                            class="theme_stars"></span></span>
					<span id='6'class="stars_on" style="width:94%;"><span class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span></span>
                                          <script>
                var a = {{ content.6.AVG }};
                var b = a / 5 * 100;
                document.getElementById('6').style.width = b + '%';
            </script>
				</span></div>
                                </div>
                                <div class="post_descr"><p>Lorem
                                    ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel enim
                                    enim. Proin tortor diam, ultricies quis quam sed, vulputate mollis arcu.
                                    Sed a sem vel urna vehicula gravida. Nullam dui…</p>
                                </div>
                                <div class="post_content_padding theme_puzzles" style="
						background: -moz-linear-gradient(top,  rgba(34,34,34,0) 0%, rgba(34,34,34,0.01) 1%, rgba(34,34,34,1) 50%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,34,34,0)), color-stop(1%,rgba(34,34,34,0.01)), color-stop(50%,rgba(34,34,34,1)));
						background: -webkit-linear-gradient(top,  rgba(34,34,34,0) 0%,rgba(34,34,34,0.01) 1%,rgba(34,34,34,1) 50%);
						background: -o-linear-gradient(top,  rgba(34,34,34,0) 0%,rgba(34,34,34,0.01) 1%,rgba(34,34,34,1) 50%);
						background: -ms-linear-gradient(top,  rgba(34,34,34,0) 0%,rgba(34,34,34,0.01) 1%,rgba(34,34,34,1) 50%);
						background: linear-gradient(to bottom,  rgba(34,34,34,0) 0%,rgba(34,34,34,0.01) 1%,rgba(34,34,34,1) 50%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00222222', endColorstr='#222222',GradientType=0 );
						"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sc_blogger_item sc_blogger_item_puzzles odd first">
                        <div class="post_thumb image_wrapper post_format_audio down-3 heavy_inited "><a
                                href="detail-{{ content.7.title }}"><img class="wp-post-image"
                                                                                             alt="Duft punk – Get lucky"
                                                                                             src="{{ content.7.thumbnail.url }}"
                                                                                             height="310"
                                                                                             width="310"></a><span
                                class="post_category theme_accent_bg" style="background-color: #f03232">{{ content.7.category }}</span>
                            <div class="post_content_wrapper theme_puzzles" style="background-color:#a01c43;"><h2
                                    class="post_subtitle"><a href="detail-{{ content.7.title }}">{{ content.7.title }}</a></h2>
                                <div class="reviews_summary blog_reviews theme_puzzles"
                                     style="background-color:#a01c43;">
                                    <div class="criteria_summary criteria_row"><span class="criteria_stars"
                                                                                     title="5.0 from 5">
					<span class="stars_off"><span class="theme_stars"></span><span class="theme_stars"></span><span
                            class="theme_stars"></span><span class="theme_stars"></span><span
                            class="theme_stars"></span></span>
					<span id='7'class="stars_on" style="width:100%;"><span class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span><span
                            class="theme_stars theme_stars_on"></span></span>
                                         <script>
                var a = {{ content.7.AVG }};
                var b = a / 5 * 100;
                document.getElementById('7').style.width = b + '%';
            </script>

				</span></div>
                                </div>
                                <div class="post_descr"><p>Ut pretium tristique
                                    dui, eu sagittis mauris mollis vel. Pellentesque eget nulla ipsum. Fusce
                                    hendrerit felis a lacus euismod tincidunt consectetur eget tellus. Nam
                                    placerat, magna eu molestie…</p>
                                </div>
                                <div class="post_content_padding theme_puzzles" style="
						background: -moz-linear-gradient(top,  rgba(160,28,67,0) 0%, rgba(160,28,67,0.01) 1%, rgba(160,28,67,1) 50%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,28,67,0)), color-stop(1%,rgba(160,28,67,0.01)), color-stop(50%,rgba(160,28,67,1)));
						background: -webkit-linear-gradient(top,  rgba(160,28,67,0) 0%,rgba(160,28,67,0.01) 1%,rgba(160,28,67,1) 50%);
						background: -o-linear-gradient(top,  rgba(160,28,67,0) 0%,rgba(160,28,67,0.01) 1%,rgba(160,28,67,1) 50%);
						background: -ms-linear-gradient(top,  rgba(160,28,67,0) 0%,rgba(160,28,67,0.01) 1%,rgba(160,28,67,1) 50%);
						background: linear-gradient(to bottom,  rgba(160,28,67,0) 0%,rgba(160,28,67,0.01) 1%,rgba(160,28,67,1) 50%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a01c43', endColorstr='#a01c43',GradientType=0 );
						"></div>
                            </div>
                            <div class="mejs-clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


</div><!-- #content -->
</html>

		


	
	